.logb{
    background-image: url("../images/about.jpg");
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: 100%;
    height: 50vh;
}
.logb h1{
    color: black;
    font-size: 60px;
}
.logb a{
    font-size: 1.3rem;
    text-decoration: none;
    color: #EB3E32
}
@media only screen and (max-width: 550px) {
    .logb h1{
        font-size: 40px;
    }
    .logb a{
        font-size: 1rem;
    }
}
@media only screen and (max-width: 450px) {
    .logb h1{
        font-size: 15px;
    }
    .logb{
        height: 30vh;
    }
}

.log{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: grey;
}

.logi{
    text-align: center;
}
.log input{
    padding:15px;
}
.logi button{
    background-color: #333131;
    border: 0;
    width: 80%;
    height: 60px;
    font-weight: 500;
    color: white;

}
.logi button:hover{
    background-color: #EB3E32;
    transition: all 0.2s linear;
}

.shop h1{
    font-size: 60px;
}
.shop a{
    font-size: 1.3rem;
    text-decoration: none;
    color: #EB3E32
}

@media only screen and (max-width: 550px) {
    .shop h1{
        font-size: 40px;
    }
    .shop a{
        font-size: 1rem;
    }
}
@media only screen and (max-width: 450px) {
    .shop h1{
        font-size: 25px;
    }
    .shop a{
        font-size: 0.8rem;
    }
    .logb{
        padding: 0;
    }
}
.reg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: grey;

}
.reg input{
    padding: 15px;
}