.acce {
    background-image: url("../images/wishlist.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;

}

.acce a {
    color: #EB3E32;
    ;
    text-decoration: none;
    font-size: 1.5rem;
}


.dashboard {
    border: 2px solid gray;
    padding: 25px;
}

.box-div-color {
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.571);
    padding: 10px 10px;
}

.box-div-color a {
    text-decoration: none;
    font-weight: 400;
}

.nav-color {
    color: black;
    font-size: 1.3rem;
    font-weight: 300;
}

.nav-color:hover {
    color: white;
}

.box-div-color:hover {
    background-color: #eb3e32;
    border: 1px solid #eb3e32;
    transition: 0.5s all;
}

.box-div-color:hover a {
    color: white;
    /* Link color on hover */
 } 

 .int-new {
    height: 65px;
}

.das-font {
    font-size: 1.1rem;
}

.das-font-2 {
    font-size: 1.4rem;
    font-weight: 300;
} 

 .das-font-3 {
    font-size: 1.2rem;
}


.padd-6 {
    padding: 30px 180px;
}

.order-add {
    text-decoration: dotted;
}

.hr-add {
    text-decoration: dotted;
} 



 @media only screen and (max-width: 1300px) {

    .padd-6 {
        padding: 30px 80px;
    }

} 

 @media only screen and (max-width: 992px) {

    .padd-6 {
        padding: 20px 70px;
    }
    .nav-color {
      color: black;
      font-size: 1.1rem;
      font-weight: 300;
    }
} 

 @media only screen and (max-width: 768px) {
    .padd-6 {
        padding: 10px 40px;
    
  }
    .das-font-2 {
        font-size: 1rem;
        font-weight: 200;
    }

    .das-font-3 {
        font-size: 0.8rem;
    }

} 

  @media only screen and (max-width: 450px) {
  .padd-6 {
        padding: 10px 10px;
    }
 } 
