
.checko {
    background-image: url("../images/wishlist.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    
}
.checkot a{
    color: #EB3E32;;
    text-decoration: none;
    font-size: 1.5rem;
}
.shop{
    border: 0;
    height: 50px;
    width: 90px;
}
.acc:hover{
    color:#EB3E32 ;
    transition: all 0.2s linear;
}
.lost a{
    color: black;
    text-decoration: none;
}
.lost a:hover{
    color:#EB3E32 ;
    transition: all 0.2s linear;
}
.coup{
   /* width: 20%;
   height: 41px; */
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
   background-color: black;
   color: white;
   border: 0;
}
.coup:hover{
    background-color: #EB3E32;
    transition: all 0.2s linear;
}

.order{
    border: 1px solid grey;
    padding: 50px;
}
.priv{
    color: grey;
    line-height: 1.7rem;
}
.priv a{
    color: #EB3E32;
}
.logg button{
    background-color: #333131;
    border: 0;
    width: 80%;
    height: 60px;
    font-weight: 500;
    color: white;

}
.logg button:hover{
    background-color: #EB3E32;
    transition: all 0.2s linear;
}
.wisht {
    background-image: url("../images/wishlist.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    
}
.shopy a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
.shopy a:active{
    color: #EB3E32;
}
.ACC p{
    font-size: 14px; 
    color: grey;
}
.succ{
    animation: sucess 300ms 100ms;
    
}
.cans{
    animation: crux 300ms;
}
@keyframes sucess{
    0%{
        transform: translatey(-100%);
    }
    100%{
        transform: translatey(0);

    }
}
.can{
    position: relative;
}
.cans{
    position: absolute;
    animation: sucess 300ms ease-in;
    z-index: 100;
}

@keyframes crux{
    0%{
        transform: translatey(-100%);
    }
    100%{
        transform: translatey(0);

    }
}
.gt{
    animation: opac 1s ease-in 5s  infinite ;
}
@keyframes opac{
    0%{
        opacity: 0;
       
    }
    100%{
        opacity: 100;
        
    }
}