.topnav {
    height: 45px;
    background-color: #F4F4F4;
    line-height: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 993px) {
    .top2 {
        display: none;
    }

    .ser {
        display: none;
    }

    .top1 {
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 15px;
        gap: 0;

    }
}

@media only screen and (max-width: 465px) {


    .top1 {
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 10px;
        line-height: 1rem;

    }
}

.tpp {
    padding: 15px;
	text-decoration: none;
	color: black;
}

#searchbar {
    background-color: transparent;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    /* position: relative;
    left: 6px; */
    box-shadow: 5px 10px 11px 0px #00000021;
    height: 44px;
    border-color: #E8E8E8;
}

#searchbar::placeholder {
    color: black;
}

#searchbtn {
    background-color: #DD3D32;
    border: 0px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    height: 44px;
    margin-left: -20px;
    width: 5rem;
}

.tabu {
    background-color: #EB3E32;
    width: 80%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#tab {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wishlist a {
    color: black;
}

.wishlist a:hover {
    color: #EB3E32;
    transition: all 0.2s linear;
}

#tab a {
    color: white;
    text-decoration: none;
}

.foot {
    background-color: #26292E;
    padding: 40px;
}

.foot h3 {
    text-align: start;
}

.foota a {
    text-decoration: none;
    color: white;
    text-align: start;

}

.foota ul {
    list-style: none;
    align-items: center;
}

.foota li {
    padding-top: 10px;
}

.foota a:hover {
    color: #EB3E32;
    transition: 0.3s ease-in-out;
}

.foota button a {
    padding: 5px;
}

.foota button a:hover {
    color: white;
}

.foota button {
    background-color: #5D5D5D;
    margin: 10px;
    border-radius: 10%;
    height: 40px;
    border: 0;
}

.foota button:hover {
    background-color: #EB3E32;
    transition: all 0.3s ease-in-out;

}

.cardd a {
    padding: 7px;
}

/* Cart */
.cart a {
    text-decoration: none;
    color: black;
}

.cart a:hover {
    color: #EB3E32;
    transition: all 0.3s linear;
}

.check button {
    background-color: black;
    width: 80%;
    padding: 10px;
    border: 0;
}

.check button:hover {
    background-color: #EB3E32;
    width: 80%;
    padding: 10px;
    color: white;
    transition: all 0.3s linear;

}

.check button a {
    color: white;
}

.check button a:hover {
    color: white;
}


.off:hover {
    background-color: black;
    color: #EB3E32;
    transition: all 0.3s linear;
}

.offs:hover {
    background-color: black;
    color: #EB3E32;
    transition: all 0.3s linear;
}

.offs {
    background-color: #EB3E32;
    color: white;
    transition: all 0.3s linear;
}

.offbody {
    background-color: #26292E;
}

.itemin>ul {
    list-style: none;
}

.itemin>ul>li {
    display: block;
    line-height: 1;
    position: relative;
    border-bottom: 1px solid #373737;
    padding: 20px 10px 23px 40px;
    text-align: start;
}

.itemin>ul>li>a {
    color: #fff;
    font-size: 15px;
    line-height: 1;
    text-decoration: none;
}

@media only screen and (max-width: 465px) {
    .itemin>ul>li {
        padding: 19px, 5px, 12px, 16px;
    }
}


.offi {
    color: #eb3e32;
    font-size: 16px;
    position: absolute;
    top: 48%;
    left: 0;
}

.moni>li {
    display: block;
    line-height: 1;
    position: relative;
    border-bottom: 1px solid #373737;
    padding: 20px 10px 23px 40px;
    text-align: start;
}

.moni>li>a {
    color: white;
}

/* //Wishlist */
.wishlis {
    background-image: url("../images/wishlist.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;

}

.shopsy a {
    color: #EB3E32;
    ;
    text-decoration: none;
    font-size: 1.5rem;
}

.wishc button a {
    text-decoration: none;
    color: grey;

}

.wishc button a:hover {
    color: #EB3E32;

}

.wishc button {
    border: 1px solid grey;
    color: grey;
    background: transparent;
    padding: 7px;
}

.wishc button:hover {
    border: 1px solid #EB3E32;
    background: transparent;
    padding: 7px;
    transition: all 0.2s linear;
}

.del {
    border: 0;
    background: transparent;
}

@media only screen and (max-width: 993px) {
    .tabu {
        display: none;

    }
	.container-1{
		display: none;
	}
}

.left {
    background-color: #167649;
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 5px;
    font-size: 13px;

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
}
*{
	margin:0;
	box-sizing: border-box;
}
:before,:after{
	box-sizing: border-box;
}
.container-1{
	/* max-width: 1200px; */
	margin:auto;
    color:white;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.v-center{
	align-items: center;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
/* header */
.header{
	display: block;
	width: 100%;
	position: relative;
	z-index: 99;
	/* padding:15px; */
}
/* .header .item-left{
	flex:0 0 17%;
} */
.header .item-center{
	flex:0 0 66%;
}
.header .item-right{
	flex:0 0 17%;
	display: flex;
	justify-content: flex-end;
}
.header .item-right a{
     text-decoration: none;
     font-size: 16px;
     color:#555555;
     display: inline-block;
     margin-left: 10px;
     transition: color 0.3s ease;
}
.header .menu > ul > li{
	display: inline-block;
	
	margin-left: 25px;
}
.header .menu > ul > li > a{
	font-size: 18px;
	/* font-weight: 500; */
	color:whitesmoke;
	position: relative;
	text-transform: capitalize;
	transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu{
	position: absolute;
	z-index: 500;
	background-color:#ffffff;
	box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3);
	padding: 20px 30px;
	transition: all 0.5s ease;
	margin-top:25px;
	opacity:0;
	visibility: hidden;
}
@media(min-width: 992px){
.header .menu > ul > li.menu-item-has-children:hover .sub-menu{
	margin-top: 0;
	visibility: visible;
	opacity: 1;
}
}
.header .menu > ul > li .sub-menu > ul > li{
	line-height: 1;
	border-bottom: 2px solid black;
	width: 100%;
	display: block;
}
.header .menu > ul > li .sub-menu > ul > li > a{
	display: block;
	padding: 10px 0;
	font-size: 15px;
	color: #555555;
	transition: color 0.3s ease;
	text-decoration: none;
	text-transform: capitalize;
	
}
.header .menu > ul > li .single-column-menu{
	min-width: 280px;
	max-width: 250px;
	
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
   line-height: 1;
   display: block;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
	padding:10px 0;
	display: inline-block;
	font-size: 15px;
	color:#555555;
	transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu.mega-menu{
    left: 50%;
    transform: translateX(-50%);
}
 .bg-change{
    background-color: #eb3e32;
    padding: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
	align-items: center;
	text-align: center;
  }
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
  flex:0 0 25%;
  padding:0 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title{
	font-size: 16px;
	color:#ea4636;
	font-weight: 500;
	line-height: 1;
	padding:10px 0;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
	text-align: center;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
	max-width: 100%;
	width: 100%;
	vertical-align: middle;
	margin-top: 10px;
	height: 300px;
	object-fit: cover;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu > ul > li:hover > a{
	color:black;
}
/* banner section */
.banner-section{
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 100%;
  display: block;
}
.mobile-menu-head,
.mobile-menu-trigger{
	display: none;
}


@media(max-width: 991px){

    .bg-change{
        display: none;
    }

	.header .item-center{
		order:3;
		flex:0 0 100%;
	}
	.header .item-left,
	.header .item-right{
		flex:0 0 auto;
	}
	.v-center{
		justify-content: space-between;
	}
	.header .mobile-menu-trigger{
		display: flex;
		height: 30px;
		width: 30px;
		margin-left: 15px;
		cursor: pointer;
		align-items: center;
		justify-content: center;
	}
	.header .mobile-menu-trigger span{
		display: block;
		height: 2px;
		background-color: #333333;
		width: 24px;
		position: relative;
	}
	.header .mobile-menu-trigger span:before,
	.header .mobile-menu-trigger span:after{
		content: '';
		position: absolute;
		left:0;
		width: 100%;
		height: 100%;
		background-color: #333333;
	}
	.header .mobile-menu-trigger span:before{
		top:-6px;
	}
	.header .mobile-menu-trigger span:after{
		top:6px;
	}
	.header .item-right{
		align-items: center;
	}

	.header .menu{
		position: fixed;
		width: 320px;
		background-color:#ffffff;
		left:0;
		top:0;
		height: 100%;
		overflow: hidden;
		transform: translate(-100%);
		transition: all 0.5s ease;
		z-index: 1099;
	}
	.header .menu.active{
	   transform: translate(0%);
	}
	.header .menu > ul > li{
		line-height: 1;
		margin:0;
		display: block;
	}
	.header .menu > ul > li > a{
		line-height: 50px;
		height: 50px;
		padding:0 50px 0 15px;
		display: block;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	.header .menu > ul > li > a i{
		position: absolute;
		height: 50px;
		width: 50px;
		top:0;
		right: 0;
		text-align: center;
		line-height: 50px;
		transform: rotate(-90deg);
	}
	.header .menu .mobile-menu-head{
		display: flex;
		height: 50px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 501;
		position: sticky;
		background-color: #ffffff;
		top:0;
	}
	.header .menu .mobile-menu-head .go-back{
		height: 50px;
		width: 50px;
		border-right: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;
		font-size: 16px;
		display: none;
	}
	.header .menu .mobile-menu-head.active .go-back{
		display: block;
	}
	.header .menu .mobile-menu-head .current-menu-title{
		font-size: 15px;
		font-weight: 500;
		color:#000000;
	}
	.header .menu .mobile-menu-head .mobile-menu-close{
	    height: 50px;
		width: 50px;
		border-left: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;
		font-size: 25px;
	}
	.header .menu .menu-main{
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.header .menu > ul > li .sub-menu.mega-menu,
	.header .menu > ul > li .sub-menu{
		visibility: visible;
		opacity: 1;
		position: absolute;
		box-shadow: none;
		margin:0;
		padding:15px;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		padding-top: 65px;
		max-width: none;
		min-width: auto;
		display: none;
		transform: translateX(0%);
		overflow-y: auto;
	}
.header .menu > ul > li .sub-menu.active{
	display: block;
}
@keyframes slideLeft{
	0%{
		opacity:0;
		transform: translateX(100%);
	}
	100%{
	    opacity:1;
		transform: translateX(0%);
	}
}
@keyframes slideRight{
	0%{
		opacity:1;
		transform: translateX(0%);
	}
	100%{
	    opacity:0;
		transform: translateX(100%);
	}
}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
		margin-top:0;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
		margin-bottom: 20px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center:last-child .title{
		margin-bottom:0px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
		flex: 0 0 100%;
        padding: 0px;
	}
	.header .menu > ul > li .sub-menu > ul > li > a,
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{
		display: block;
	}
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
		margin-bottom: 15px;
	}
	.menu-overlay{
		position: fixed;
		background-color: rgba(0,0,0,0.5);
		left:0;
		top:0;
		width: 100%;
		height: 100%;
		z-index: 1098;
		visibility: hidden;
		opacity:0;
		transition: all 0.5s ease;
	}
	.menu-overlay.active{
	  visibility: visible;
	  opacity:1;
	}
}

