.abt{
    background-image: url("../images/about.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
    height: auto;

}
.abt2{
    padding: 100px;
}
@media only screen and (max-width: 450px) {
        .abt2{
            padding: 50px;
        }
}
.abt h1{
    color: black;
}
.abt a{
    font-size: 1.3rem;
    text-decoration: none;
    color: #EB3E32
}
.img-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
.img-wrapper img {
    width: 100%;
    height: auto;
    /* object-fit: contain; */
    aspect-ratio: 3/2;
  }
  .inner-img {
    transition: 0.3s;
  }

  .inner-img:hover {
    transform: scale(1.2);
  }
.img-wrapper-2 {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .inner-img-2 {
    transition: 0.3s;
    width: 100%;
    height: 300px;

  }
  .inner-img-2:hover {
    transform: scale(1.1);
  }

.clip-img{
    clip-path: polygon(21.9% 0%, 100.1% 0%, 100% 100%, 0% 100%);
}

.mar-top-bottom{
    margin-top: 60px;
    margin-bottom: 60px;
}

.dis-bor{
    position: absolute;
    top: 30px;
    left: 10px;
    transform: rotate(-60deg);
    /* transform: skew(90deg); */
    text-shadow: 2px 2px 8px red;
    font-size: 50px;
    color: rgba(128, 128, 128, 0.648);
}
.pos{
    position: relative;
    overflow: hidden;
}

.bor-main{
    border: none;
    border-left: 2px solid rgba(255, 0, 0, 0.621);
    position: relative;
}

.abs{
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 1;
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
}


.mar-1{
    margin-top: 80px;
    margin-bottom: 80px;
}

/* featured */

.featured{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}



.bestseller{
    flex-direction: column;
}


.img-bor{
    border: 2px solid gray;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* transition: 2s; */
    animation-name: img-bor;
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
    animation-direction: alternate-reverse;
}

.dis-save{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .font-dis{
    font-size: 50px;
    color: rgb(45, 15, 15);
} */
.font-dis-fea{
    font-size: 50px;
    color: rgb(47, 18, 18);
    font-weight: bolder;
}
.font-dis-fea-foot{
    font-size: 40px;
    color: rgb(153, 99, 99);
    font-family: sans-serif;
    font-weight: bolder;
}
.font-dis-2{
    font-size: 30px;
    color: gray;
}
.font-dis-fea-2{
    font-size: 25px;
    color: rgb(104, 35, 35);

}
.fea-3{
    font-size: 25px;
    color: rgb(173, 63, 63);

}
/* button */
.buttton-cl{
    background-color: red;
    padding: 20px 30px;
    font-weight: bolder;
    color: whitesmoke;
    border: none;
    /* border-radius: 6px; */
    margin-top: 20px;
    margin-bottom: 30px;
}
.buttton-cl:hover{
    background-color: white;
    color: #EB3E32;
    transition: all 0.2s linear;
    border: 1px solid #EB3E32
}

.card-1{
    position: relative;
    /* width: 13rem; */
}

.discount{
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: red;
    padding: 5px;
    color: white;
    border-radius: 6px;
}

.card-2{
    position: absolute;
    top: 20px;
    right: 0px;
    color: gray;
    font-size: 20px;
    opacity: 0;
    transition: 1.2s;
    font-size: 25px;
}
.card-3{
    position: absolute;
    top: 50px;
    right: 0px;
    color: gray;
    font-size: 20px;
    opacity: 0;
    transition: 1.2s;
    font-size: 25px;
}
.card-4{
    position: absolute;
    top: 80px;
    font-size: 25px;
    right: 0px;
    color: gray;
    font-size: 20px;
    opacity: 0;
    transition: 1.2s;
    font-size: 25px;
}
.card-5{
    position: absolute;
    top: 110px;
    right: 0px;
    color: gray;
    font-size: 20px;
    opacity: 0;
    transition: 1.2s;
    font-size: 25px;
}

.card-1:hover .card-2{
    opacity: 1;
    right: 20px;

}

.font-lorem{
    text-align: justify;
    font-size: 20px;
}
.card-1:hover .card-3{
    opacity: 1;
    right: 20px;
}
.card-1:hover .card-4{
    opacity: 1;
    right: 20px;
}
.card-1:hover .card-5{
    opacity: 1;
    right: 20px;
}

.img-img{
    border: 1px solid gray;
    border-radius: 20px;
}

.mar-2{
    margin-top: 10px;
    margin-bottom: 10px;
}
.add-dis{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.color-code{
    color: #eb3e32;
    font-size: 60px;
}
.padd-2{
    padding: 30px 110px;
}
.icon-cl{
    font-size: 1.7rem;
}
.shadow-2{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 60px;
    border-radius: 30px;
}
.shadow-3{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    padding: 40px;
    border-radius: 10px;
}
.head-top{
    font-size: 40px;
    color: #eb3e32;
    text-transform: capitalize;
    margin-bottom: 20px;
}

/* blog */
.dis-blog{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dis-blog-2{
    display: flex;
    gap: 15px;
}

.padd-3{
    padding: 20px 140px;
}


.bn-cl{
    background-color: black;
    padding: 15px 20px;
    color: white;
    border: none;
    border-radius: 3px;
}
.bn-cl:hover{
    background-color: #eb3e32;
}

.padd-4{
    padding: 0px 20px;
}


.bn-font{
    font-size: 1.5rem;
}



.img-hov:hover{
    background-color: #eb3e32;
    opacity: 0.4;
}


@media only screen and (max-width: 770px) {
    .inner-img-2{
            object-fit: cover;
    }

}




@media only screen and (max-width: 450px) {

    .mar-1{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .buttton-cl{
        padding: 6px 13px;
        margin-top: 10px;

    }
    .font-dis-fea{
        font-size: 20px;
        color: rgb(47, 18, 18);
        /* font-weight: bold; */
    }

    .font-dis-fea-2{
        font-size: 20px;
        color: rgb(104, 35, 35);
    }
    .padd-3{
        padding: 0px 0px;
    }

}

@media only screen and (max-width: 768px) {
    .mar-1{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .dis-blog{
        flex-direction: column;
        gap: 0px;
    }
    .buttton-cl{
        padding: 10px 15px;
        margin-top: 10px;
    }


    .font-dis-2{
        text-align: left;
    }
    .font-dis-fea{
        font-size: 30px;
        color: rgb(47, 18, 18);
        font-weight: bold;
    }
    .padd-4{
        padding: 0px 0px;
    }

    .bn-font{
        font-size: 1rem;
        font-weight: bolder;
    }

    .bn-cl{
        padding: 10px 15px;
    }

    .padd-2{
        padding: 0px 0px;
    }

    .padd-3{
        padding: 0px 0px;
    }

    .font-dis-fea-2{
        font-size: 16px;
        color: rgb(104, 35, 35);
        text-align: center;
    }
    .shadow-2{
        padding: 4px;
        box-shadow: none;
    }
    .shadow-3{
        padding: 10px;
    }

    .head-top{
        font-size: 25px;
        color: #eb3e32;
        text-transform: capitalize;
        margin-bottom: 20px;

    }

}
@media only screen and (max-width: 992px) {

    .mar-1{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .padd-2{
        padding:10px 20px;
    }
    .padd-3{
        padding: 10px 40px;
    }
}
@media only screen and (max-width: 1250px) {

    .mar-1{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .padd-2{
        padding:10px 30px;
    }
    .padd-3{
        padding: 10px 30px;
    }
}

.reap{
    animation: backfro 700ms;
}
.front{
    animation: frontfro 800ms;
}
@keyframes backfro {
        0%{
            transform: translateX(-100%);
        }
        100%{
            transform: translateX(0%);
        }
}   
@keyframes frontfro {
        0%{
            transform: translateX(100%);
        }
        100%{
            transform: translateX(0%);
        }
}   